#content{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
}

#book{
	margin-top:100px;
	width:1000px;
	height:599px;
	transition: margin-left 0.2s ease-in-out;
	-moz-transition: margin-left 0.2s ease-in-out;
	-webkit-transition: margin-left 0.2s ease-in-out;
}

.p1, .p2{
	background-image:url(../images/cover-firstpage.png);
}

.last, .beforelast{
	background-image:url(../images/cover-normal.png);
}

.sheet{
	background-image:url(../images/page-bg.jpg);
	box-shadow:inset 0px 0px 1px 1px #999999;
	-moz-box-shadow:inset 0px 0px 1px 1px #999999;
	-webkit-box-shadow:inset 0px 0px 1px 1px #999999;
}

.odd{
	background-position:right;
}

.even{
	background-position:left;
}

#book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective:2000px;
	-ms-perspective:2000px;
	-o-perspective:2000px;
	perspective:2000px;
}

.own-size{
	width:475px;
	height:550px;
	overflow:hidden;
}

#book div[page="1"] > div, #book div[page="2"] > div{
	overflow:visible !important;
	visibility:visible;
}

.p1 .side, .beforelast .side{
	width:5px;
	height:599px;
	position:absolute;
	top:0;
	left:495px;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #539b27), color-stop(0.5,  #3c701c), color-stop(1,  #539b27));
	background-image:-webkit-linear-gradient(left, #539b27, #3c701c, #539b27);
	background-image:-moz-linear-gradient(left, #539b27, #3c701c, #539b27);
	background-image:-ms-linear-gradient(left, #539b27, #3c701c, #539b27);
	background-image:-o-linear-gradient(left, #539b27, #3c701c, #539b27);
	background-image:linear-gradient(left, #539b27, #3c701c, #539b27);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	
	z-index:100000;
}

.page-depth-left
{
	background-image:url(../images/page-depth-left.png);
	background-repeat:none;
	background-position:18px 0;
	width:18px;
	height:px;
	position:absolute;
	top:25px;
	left:25px;
}

.page-depth-left
{
	background-image:url(../images/page-depth-left.png);
	background-repeat:none;
	background-position:right;
	width:0px;
	height:550px;
	position:absolute;
	top:25px;
	right:475px;
}

.page-depth-right
{
	background-image:url(../images/page-depth-right.png);
	background-repeat:none;
	background-position:left;
	width:0px;
	height:550px;
	position:absolute;
	top:25px;
	left:475px;
}