/* CSS Document */
#home_content
{
	margin:auto;
	padding:auto;
	width:1000px;
}

#bookcase
{
	position:relative;
}

.book_collection
{
	position:relative;
	background:url(../images/bookself.png) no-repeat;
	margin-top:50px;
	background-position:4px 150px;
	height:350px;
	width:980px;
	text-align:center;
	z-index:-2;
}

.book{
	display:inline-block;
	width:230px;
	height:179px;
	background-color:#000;
	background:url(../images/book.png) no-repeat;
	margin-right:30px;
	margin-left:30px;
}
.image_book{
	display:block;
	margin:auto;
	margin-top:10px;
	width:150px;
	height:90px;
	
}
.image_content{
	margin:auto;
}
.image_hash
{
	font:Arial, Helvetica, sans-serif;
	color:#ffffff;
	margin-top:10px;
}
#button_add{
	border:none;
	margin-top:10px;
	float:right;
	width:70px;
	height:26px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	-webkit-border-radius: 13px;
background: #b3dced; /* Old browsers */
background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}