a:link, a:visited, a:active, a:hover{text-decoration:none; color:inherit;}

body{
	margin:0px;
	padding:0px;
	width:100%;
	background-color: #1d395b;
	background-image: url(../images/radial-background.png);
	background-position: center center;
	background-repeat: no-repeat;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#3a5897), to(#1d395b));
	background: -webkit-radial-gradient(circle, #3a5897, #1d395b);
	background: -moz-radial-gradient(circle, #3a5897, #1d395b);
    background-repeat: no-repeat;
    background-attachment: fixed;
	overflow-x:hidden;
}